// Add Semantic UI
@import 'semantic-ui';

.chatbox {
  height: 450px;
}

.ui.icon.header.aligned {
    margin: 40px;
}

.circular.orange.power.off.icon {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#messages {
  overflow: auto;
  height: 15em;
}

#user.active.item{
  color: rgb(233, 241, 241) !important;
  text-align: center;
}

.ui.vertical.menu {
  width: auto;
}

.footer {
  background-color: #212121;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: white;
  font-size: 18px;
}